body
{
    background-color: rgb(133, 6, 6);
}

nav
{
    background-color: black;
    overflow: hidden;
}

nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul li
{
    float: left;
}

nav ul li a
{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover
{
    background-color: rgb(255, 255, 255);
}